extends layout

block content
  h1 Question Paper Creator
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Create Question Paper
      p
        a.btn.btn-default(href='/question/create', role='button') Add Questions »
    .col-sm-6
      h2 View All Questions
      p
        a.btn.btn-default(href='/question/list', role='button') View Questions »
    .col-sm-6
      h2 Take Up Test
      p
        a.btn.btn-default(href='/test/start', role='button') Start »        
    