extends ../layout

block content
  div
    table
      thead
        tr: th Questions
      tbody
        each question in questions
          tr
            td 
              label Question - #{question.question}

